/* Custom scrollbar for the cart items */

.add-card-container{
  box-shadow:0px 0px 25px #DCDEDF;
}
.cart-items-container::-webkit-scrollbar {
  width: 8px;
}

.cart-items-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom checkbox styling for the specified color */
.custom-checkbox:checked {
  border-color:#171819;
  /* border-color: #004A87; */
}

/* Ensure the checkmark is white and larger */
/* .custom-checkbox:checked::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='#171819' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 00-1.414 0L7 8.586 4.207 5.793a1 1 0 00-1.414 1.414l3.5 3.5a1 1 0 001.414 0l5-5a1 1 0 000-1.414z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
} */

.custom-checkbox {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s; */
}